<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Horizon Media</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <!-- possibly add hamburger menu instead of full nav bar -->
    <header>
        <nav>
            <li><a href="#">Home</a></li>
            <li><a href="#">About Us</a></li>
            <li><a href="#">Search</a></li>
            <!-- seperate ios app? -->
            <li><a href="#">Coming Soon!</a></li>
            <li><a href="#">Log In</a></li>
        </nav>
    </header>
    
    <!-- sidebar -->
    <div class = 'sidebar column'>
        <h3>this is the sidebar</h3>
    </div>

    <div class = 'main browsing column'>

        <div class ='banner-visible-area'>
            <!-- banner image for the channel goes here -->
        </div>

        <div class = 'channel-container'>
            <!-- 100% is unnecessary but might be unnecessary for This -->
            <h1>This is the main page of the website</h1>
            <h3>Create A Todo List for things still needing to be done</h1>
            <a href="/todos"> New Todo List</a>
        </div>

        <div class = 'tabs-container'>
            <!-- contains the home videos playlist and search stuff -->
        </div>
        
        <div class = 'showcase-container'>
            <!-- most recent video or guide -->
            <div class = 'showcase-left'>

            </div>
            <div class = 'showcase-right'>

            </div>
        </div>


    </div>




</body>
</html>